<h1>Craig list clone</h1>
<p>ROR Development</p>

<% @category.each do |c|%>
	<%= link_to c.nombre.upcase, c %> ||>>
	<% Subcategory.where(category_id:c.id).each do |sc| %>
	<%= link_to sc.nombre,category_subcategory_path(c,sc) %>
	<% end %>
	<br>
<% end %>
